script(type="text/javascript", src="/vendor/socket.io-client/dist/socket.io.js")
//-script(type="text/javascript", src="http://localhost:8080/socket.io/socket.io.js")
script(type="text/javascript", src="/app/chat/scripts/webrtc.js")
script(type="text/javascript", src="/app/chat/scripts/adapter.js")
//-script(type="text/javascript", src="https://webrtc.github.io/adapter/adapter-latest.js")
//-script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.4.0.js")

.container
  .jumbotron
    h1 Customer Service
    p Coming soon.

  .row
    .col-md-6
      video(id="remoteVideo" autoplay)
      p Remote video

    .col-md-6
      video(id="localVideo" autoplay muted)
      p Local video

  .row
    .col-md6
    div(id="videoCanvas")
      video(id="camera" autoplay)
      canvas(id="photo")

    div(id="buttons")
      button(type="button" id="snap") Snap
      p then 
      button(type="button" id="send") Send
      p or
      button(type="button" id="snapAndSend") Snap &amp; Send

    div(id="incoming")
      h2 Incoming photos
      div(id="trail")
  
    //-script language="javascript"
    //-var room = document.getElementById('roomId');
    //-alert(room.value);
    //-script
